@tailwind base;
@tailwind components;
@tailwind utilities;

.notion-page-icon-inline,
.notion-page-icon-span {
    display: none !important;
}

.notion-gallery-grid {
    border-top: 0;
    padding-top: 0;
}

.notion-collection-card-cover {
    border-bottom: 0;
}
